/*Header styles*/
.my-main-menu {
  width: 90%;
  margin: 2rem 5%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(131, 0, 143, 0.7);
  color: white;
  padding: 1rem 2rem;
  border-radius: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  .my-main-menu .site-title {
    display: inline-flex;
    color: white; }

.custom-logo {
  max-width: 4rem; }

.my-navbar {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  align-items: center; }
  .my-navbar li {
    list-style: none; }
    .my-navbar li a {
      color: white; }

/*General styles*/
.relative-container.elementor-element {
  position: relative;
  min-height: 80vh;
  overflow: hidden; }

.background-element.elementor-widget {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%; }

.background-element.elementor-widget img {
  height: 100%;
  max-width: unset;
  object-fit: cover; }

.content-container.elementor-element {
  height: 100%;
  width: 100%; }

.slicknav_menu {
  display: none; }

@media screen and (max-width: 40em) {
  /* #menu is the original menu */
  .my-main-menu {
    display: none; }
  .slicknav_menu {
    display: block; } }

body:not(.home) .ast-container {
  margin-top: 6rem; }

.foto-persona {
  max-width: 300px; }

.proyectos-container {
  padding: 20px; }

.cards-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; }

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  transition: transform 0.2s;
  flex: 1 1 calc(33.333% - 40px);
  /* Tres tarjetas por fila con espacio */
  max-width: calc(33.333% - 40px);
  /* Igual que flex-basis */
  display: flex;
  flex-direction: column;
  text-align: center; }

.card:hover {
  transform: translateY(-10px); }

.card a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%; }

.card img {
  width: 100%;
  height: auto; }

.card-content {
  padding: 20px;
  flex-grow: 1; }

.card-content h2 {
  margin: 0 0 10px;
  font-size: 24px; }

.foto-card {
  width: 100%;
  height: auto;
  border-radius: 50%; }

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0; }

.pagination ul {
  display: flex;
  list-style: none;
  padding: 0; }

.pagination li {
  margin: 0 5px; }

.pagination a {
  text-decoration: none;
  color: #007bff;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px; }

.pagination a:hover {
  background-color: #007bff;
  color: #fff; }

.title-proyectos {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #9B51E0;
  padding-bottom: 2rem;
  text-align: center; }

.text-proyectos {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: #303030;
  text-align: center; }

.title-card {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #18B6B9; }

.project-detail {
  padding: 20px;
  font-family: Arial, sans-serif; }

.post-title {
  color: #9B51E0;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  animation: fadeIn 1s ease-in-out; }

.post-content {
  color: #303030;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.6;
  animation: fadeIn 1s ease-in-out; }

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 20px 0;
  animation: fadeIn 1s ease-in-out; }

.project-info {
  margin: 20px 0; }

.project-info p {
  margin: 10px 0;
  color: #303030;
  font-weight: 200;
  font-size: 16px;
  animation: fadeIn 1s ease-in-out;
  margin-bottom: 2rem; }

.subtitle {
  font-weight: 600;
  color: #18B6B9; }

.project-link-button {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  margin: 20px auto 0;
  background-color: #18B6B9;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  animation: fadeIn 1s ease-in-out;
  justify-self: center; }

.project-link-button:hover {
  background-color: #9B51E0; }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
