/*General styles*/
.relative-container.elementor-element {
    position: relative;
    min-height: 80vh;
    overflow: hidden;
}

.background-element.elementor-widget {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.background-element.elementor-widget img {
    height: 100%;
    max-width: unset;
    object-fit: cover;
}

.content-container.elementor-element {
    height: 100%;
    width: 100%;
}

.slicknav_menu {
    display: none;
}

@media screen and (max-width: 40em) {

    /* #menu is the original menu */
    .my-main-menu {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }
}

body:not(.home) .ast-container {
    margin-top: 6rem;
}

