.project-detail {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.post-title {
    color: #9B51E0;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}


.post-content {
    color: #303030;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.6;
    animation: fadeIn 1s ease-in-out;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 20px 0;
    animation: fadeIn 1s ease-in-out;
}

.project-info {
    margin: 20px 0;
}

.project-info p {
    margin: 10px 0;
    color: #303030;
    font-weight: 200;
    font-size: 16px;
    animation: fadeIn 1s ease-in-out;
    margin-bottom: 2rem;
}

.subtitle {
    font-weight: 600;
    color: #18B6B9;
}

.project-link-button {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    margin: 20px auto 0;
    background-color: #18B6B9;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    animation: fadeIn 1s ease-in-out;
    justify-self: center;
}

.project-link-button:hover {
    background-color: #9B51E0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}