.proyectos-container {
    padding: 20px;
}

.cards-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    transition: transform 0.2s;
    flex: 1 1 calc(33.333% - 40px); /* Tres tarjetas por fila con espacio */
    max-width: calc(33.333% - 40px); /* Igual que flex-basis */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
}

.card a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
    flex-grow: 1;
}

.card-content h2 {
    margin: 0 0 10px;
    font-size: 24px;
}

.foto-card {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.pagination ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    color: #007bff;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #007bff;
    color: #fff;
}

.title-proyectos{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color:#9B51E0;
    padding-bottom: 2rem;
    text-align: center;
}

.text-proyectos{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color:#303030;
    text-align: center;
}

.title-card{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color:#18B6B9;
}

